name: simple_custom_focus_camera
description: A Flutter package for custom camera functionality with native Android implementation. Supports configurable focus distance and front/back camera selection.
version: 1.0.0
homepage: https://github.com/AdeelWajid/simple_custom_focus_camera
repository: https://github.com/AdeelWajid/simple_custom_focus_camera

environment:
  sdk: ^3.11.0
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.adaxiomtech.simple_custom_focus_camera
        pluginClass: CustomCameraPlugin
